# Ignore build output folders
bin/
obj/

# Visual Studio 2015/2017 cache/options directory
.vs/
.vscode/
StockFish.WebAPI/obj
StockFish.WebAPI/bin
StockFish.WebAPI/bin
StockFish.WebAPI/obj
StockFish.WebAPI/StockFish.WebAPI.csproj.user
